.about {
  /* background-image: url('../images/bg-bricks/kisspng-stone-wall-brick-clip-art-get-brick-texture-png-pictures-5ab138695d4222\ 1\ \(Traced\)\ \(1\).png'); */
  /* background-position: top; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}
.about-subtitle {
  color: #000;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}
.about-txt {
  color: #000;
  font-size: 20px;
}
