.catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.catalog-subtitle {
  color: #2d2d2d;
  text-align: center;
  font-size: 32px;
  margin-bottom: 12px;
}
.catalog-link {
  color: #ec7f00;
  font-size: 32px;
  text-transform: uppercase;
}
.catalog-txt {
  display: block;
  margin: 0 auto;
  color: #2d2d2d;
  text-align: center;
  font-size: 18px;
  width: 285px;
  margin-bottom: 50px;
}
.catalog-wrap {
  margin: 0 auto;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
}
.img-title {
  color: #2d2d2d;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}
.catalog-img {
  box-shadow: 16px 16px #ec7f00;
}

@media screen and (min-width: 768px) {
  .catalog-subtitle {
    font-size: 34px;
  }
  .catalog-link {
    font-size: 34px;
  }
  .catalog-txt {
    font-size: 20px;
    width: 325px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-subtitle {
    font-size: 36px;
  }
  .catalog-link {
    font-size: 36px;
  }
  .catalog-txt {
    font-size: 20px;
    width: 425px;
  }
}
