.header {
  background-color: #313131;
  /* background-image: url('../images/bg-bricks/kisspng-stone-wall-brick-clip-art-get-brick-texture-png-pictures-5ab138695d4222\ 1\ \(Traced\).png');
  background-position: top 0 left 0;
  background-size: contain;
  background-repeat: no-repeat; */
}

.logo {
  font-family: Impact;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo-wrapp {
  display: flex;
  justify-content: center;
}
.accent-logo {
  color: #f2a500;
}
.logo-hd {
  color: #fff;
}

.btn {
  display: none;
}
.navigation-list {
  display: none;
}

/* ---------mobile menu-------------- */

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mobile-menu-icon {
  fill: #ec7f00;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* padding: 80px 40px 40px 40px; */
  background-color: #2d2d2d;
  /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
}
.modal-close-btn-icon {
  fill: #ec7f00;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px 25px;
  gap: 30px;
}
.mobile-menu-item {
  color: #fff;
  font-size: 36px;
}
/* 
.mobile-menu-item:nth-child(-n + 2) {
  margin-bottom: 40px;
} */
.mob-contacts {
  display: flex;
  gap: 24px;
}

/* ------------------- */

@media screen and (min-width: 768px) {
  .logo {
    font-size: 68px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
    width: 0;
  }
  .btn {
    display: block;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ec7f00;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .navigation {
    margin-top: 28px;
    padding: 10px 20px;
  }
  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 39px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    width: 280px;
    height: 60px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 60px;
  }

  .navigation {
    margin-top: 34px;
  }
  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 59px;
    font-size: 20px;
  }
}
