<section class="section-b">
  <div class="container">
    <h2 id="benefits" class="section-title">Переваги</h2>

    <ul class="benefList">
      <li class="benefItem">
        <p class="benefTit">1. Власне виробництво</p>
        <span class="benefTxt">
          У нас власний виробничий цех розташований у м. Київ, тому всі вироби
          будуть виготовлені у найкоротші терміни.</span
        >
        <img src="./images/beneffImg/production.png" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit">2. Якісні матеріали</p>
        <span class="benefTxt"
          >Високоякісна сталь, ЛДСП та МДФ від EGGER (Австрія), натуральна
          деревина різних порід (сосна, дуб, бук, ясен, горіх, в'яз, карагач) та
          високо-якісна фурнітура від Hettich (Німеччина) та Blum
          (Австрія).</span
        >
        <img src="./images/beneffImg/materials.png" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit">3. Гарантія якості</p>
        <span class="benefTxt"
          >На кожному етапі виготовлення меблів вироби проходять багатоетапний
          контроль якості. Ми надаємо гарантію 12 місяців на всю нашу
          продукцію.</span
        >
        <img src="./images/beneffImg/guaranty.png" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit">4. Надійність</p>
        <span class="benefTxt"
          >Ми гарантуємо, що всі виготовлені нами меблі витримають усі заявлені
          навантаження і прослужать не один десяток років.</span
        >
        <img src="./images/beneffImg/reliability.png" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit">5. Екологічність</p>
        <span class="benefTxt"
          >У виготовленні меблів ми використовуємо виключно екологічно чисті
          матеріали. Меблеві щити з натуральних порід дерева, ЛДСП та МДФ, що
          належать до найекологічнішої групи з класом емісії Е1.</span
        >
        <img src="./images/beneffImg/ecological.png" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit">6. Доставка та установка</p>
        <span class="benefTxt"
          >Не треба турбуватися про встановлення меблів - ми особисто доставимо
          Вам меблі в надійно упакованому вигляді і самі встановимо її так як Ви
          забажаєте.</span
        >
        <img src="./images/beneffImg/delivery.jpeg" alt="loft-mebel" />
      </li>
      <!-- <li class="benefItem">
        <p class="benefTit"></p>
        <span class="benefTxt"></span>
        <img src="" alt="loft-mebel" />
      </li>
      <li class="benefItem">
        <p class="benefTit"></p>
        <span class="benefTxt"></span>
        <img src="" alt="loft-mebel" />
      </li> -->
    </ul>
  </div>
</section>
