<section class="section-b">
  <div class="container">
    <h2 id="benefits" class="section-title">Переваги</h2>

    <ul class="benefList">
      <li class="benefItem">
        <h3 class="benefTit">1. Власне виробництво</h3>
        <p class="benefTxt">
          У нас власний виробничий цех розташований у м. Київ, тому всі вироби
          будуть виготовлені у найкоротші терміни.
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/production.png"
          alt="loft-mebel"
        />
      </li>
      <li class="benefItem">
        <h3 class="benefTit">2. Якісні матеріали</h3>
        <p class="benefTxt">
          Високоякісна сталь, ЛДСП та МДФ від EGGER (Австрія), натуральна
          деревина різних порід (сосна, дуб, бук, ясен, горіх, в'яз, карагач) та
          високо-якісна фурнітура від Hettich (Німеччина) та Blum (Австрія).
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/materials.png"
          alt="loft-mebel"
        />
      </li>
      <li class="benefItem">
        <h3 class="benefTit">3. Гарантія якості</h3>
        <p class="benefTxt">
          На кожному етапі виготовлення меблів вироби проходять багатоетапний
          контроль якості. Ми надаємо гарантію 12 місяців на всю нашу продукцію.
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/guaranty.png"
          alt="loft-mebel"
        />
      </li>
      <li class="benefItem">
        <h3 class="benefTit">4. Надійність</h3>
        <p class="benefTxt">
          Ми гарантуємо, що всі виготовлені нами меблі витримають усі заявлені
          навантаження і прослужать не один десяток років.
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/reliability.png"
          alt="loft-mebel"
        />
      </li>
      <li class="benefItem">
        <h3 class="benefTit">5. Екологічність</h3>
        <p class="benefTxt">
          У виготовленні меблів ми використовуємо виключно екологічно чисті
          матеріали. Меблеві щити з натуральних порід дерева, ЛДСП та МДФ, що
          належать до найекологічнішої групи з класом емісії Е1.
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/ecological.png"
          alt="loft-mebel"
        />
      </li>
      <li class="benefItem">
        <h3 class="benefTit">6. Доставка та установка</h3>
        <p class="benefTxt">
          Не треба турбуватися про встановлення меблів - ми особисто доставимо
          Вам меблі в надійно упакованому вигляді і самі встановимо її так як Ви
          забажаєте.
        </p>
        <img
          class="benef-img"
          src="./images/beneffImg/delivery.jpeg"
          alt="loft-mebel"
        />
      </li>
    </ul>
  </div>
</section>
