<div class="bar-menu">
  <h2 id="catalog" class="section-title section-title-menu">Барні стійки</h2>
  <button type="button" class="close-bar mobile-menu-btn-close modal-close-btn">
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-bar/business-bar-01.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-bar/business-bar-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
    <!-- <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li> -->
  </ul>
</div>
