<div class="hangers">
  <h2 id="catalog" class="section-title">Стеллажі</h2>
  <button
    type="button"
    class="close-hangers mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-hanger/business-hanger-01.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-hanger/business-hanger-02.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-hanger/business-hanger-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-hanger/business-hanger-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
    <!-- <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li> -->
    <!-- <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li> -->
  </ul>
</div>
