<div class="bus-shells">
  <h2 id="catalog" class="section-title">Стеллажі</h2>
  <button
    type="button"
    class="close-shells mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-shells/loft-business-01.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-shells/loft-business-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-shells/loft-business-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-shells/loft-business-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-business/business-shells/loft-business-05.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
    <!-- <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li> -->
  </ul>
</div>
