<section class="catalog">
  <div class="container">
    <h2 class="section-title">Каталог продукції</h2>
    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp; <a class="catalog-link" href="./index.html">дому</a>
      </p>
      <span class="catalog-txt">Принесіть комфорт і затишок у свій дім</span>

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main1.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main2.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main3.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main4.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
      </ul>
    </div>

    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp;
        <a class="catalog-link" href="./index.html">бізнесу</a>
      </p>
      <span class="catalog-txt"
        >Створіть інтер'єр, у який Вашим клієнтам буде приємно повертатись</span
      >

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main1.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main2.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main3.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main4.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main5.png"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
      </ul>
    </div>

    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp; <a class="catalog-link" href="./index.html">саду</a>
      </p>
      <span class="catalog-txt"
        >Створіть атмосферу релаксу та відпочинку, де ви зможете насолоджуватися
        природою та приємними моментами з родиною та друзями.</span
      >

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main1.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main2.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main3.jpg"
            alt=""
            width="300"
          />
          <p class="img-title"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
