<section class="catalog">
  <div class="container">
    <h2 id="catalog" class="section-title">Каталог продукції</h2>
    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp; <a class="catalog-link" href="#">дому</a>
      </p>
      <span class="catalog-txt">Принесіть комфорт і затишок у свій дім</span>

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main3.jpg"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Столи</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main2.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Стелажі</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>

        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/home-main4.jpg"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Інтер'єр</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp;
        <a class="catalog-link" href="#">бізнесу</a>
      </p>
      <span class="catalog-txt"
        >Створіть інтер'єр, у який Вашим клієнтам буде приємно повертатись</span
      >

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main1.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Барні стійки</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main2.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Стелажі</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main3.jpg"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Вішалки</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <!-- <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main4.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Столи</p>
        </li> -->

        <!-- <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/business-main5.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title"></p>
           <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li> -->
      </ul>
    </div>

    <div class="catalog-wrap">
      <p class="catalog-subtitle">
        Меблі для &nbsp; <a class="catalog-link" href="#">саду</a>
      </p>
      <span class="catalog-txt"
        >Створіть атмосферу релаксу та відпочинку, де ви зможете насолоджуватися
        природою та приємними моментами з родиною та друзями.</span
      >

      <ul class="catalog-list">
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main1.jpg"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Столи і лавки</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main2.jpg"
            alt=""
            width="300"
          />
          <p class="img-title">Мангали</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main4.png"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Гойдалки</p>
          <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li>
        <!-- <li class="catalog-item">
          <img
            class="catalog-img"
            src="./images/img-main/garden-main3.jpg"
            alt="loft-furniture"
            width="300"
          />
          <p class="img-title">Ворота</p>
           <div class="middle">
            <div class="text">Більше фото</div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>
