<section class="section contacts">
  <div class="container">
    <h2 id="contacts" class="section-title">Контакти</h2>
    <div class="contacts-wrap">
      <div class="contacts-box">
        <ul class="contacts-list">
          <li class="contacts-item">
            <p class="loc-txt">
              Україна, Київ, <br />вулиця Якова Гніздовського, 1Б <br />
              м. Чернігівська
            </p>
          </li>

          <li class="contacts-item">
            <a class="links contacts-link" href="tel:+380937556159">
              <svg class="icon-contacts" width="24" height="24">
                <use href="./images/icons.svg#icon-phone1"></use>
              </svg>
              +38(093) 755 61 59
            </a>
          </li>

          <li class="contacts-item">
            <a class="links contacts-link" href="tel:+380952216635">
              <svg class="icon-contacts" width="24" height="24">
                <use href="./images/icons.svg#icon-phone1"></use>
              </svg>
              +38(095) 221 66 35
            </a>
          </li>

          <li class="contacts-item">
            <a
              class="links contacts-link"
              href="https://www.facebook.com/profile.php?id=100092271729213"
              target="_blank"
            >
              <svg class="icon-contacts" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
              Наш Facebook
            </a>
          </li>
          <li class="contacts-item">
            <a
              class="links contacts-link"
              href="https://instagram.com/galkin_aleksandr1?igshid=MTIzZWMxMTBkOA=="
              target="_blank"
            >
              <svg class="icon-contacts" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
              Наш Instagram
            </a>
          </li>
        </ul>
      </div>

      <div class="loc-box">
        <h3 class="loc-title">
          Як нас знайти
          <svg class="icon-loc" width="40" height="40">
            <use href="./images/icons.svg#icon-map-pin-alt"></use>
          </svg>
        </h3>

        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.3315148359106!2d30.6413407!3d50.453551100000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4daabfa619dbd%3A0x35574247f3ebaeca!2z0LLRg9C70LjRhtGPINCv0LrQvtCy0LAg0JPQvdGW0LfQtNC-0LLRgdGM0LrQvtCz0L4sIDHQkSwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1710152120236!5m2!1suk!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
