<section class="footer">
  <div class="container">
    <div class="fo-container">
      <a class="logo" href="./index.html"
        ><span class="accent-logo">Metal</span
        ><span class="logo-hd">loft</span></a
      >

      <nav class="navigation">
        <ul class="navigation-list list">
          <li class="navigation-item">
            <a class="links current active" href="./index.html">Головна</a>
          </li>
          <li class="navigation-item">
            <a class="links" href="#catalog">Каталог</a>
          </li>
          <li class="navigation-item">
            <a class="links" href="#benefits">Переваги</a>
          </li>
          <li class="navigation-item">
            <a class="links" href="#about">Про нас</a>
            <li class="navigation-item">
              <a class="links" href="#contacts">Контакти</a>
            </li>
          </li>
        </ul>
      </nav>
    </div>


  </div>
</section>
