<div class="swing">
  <h2 id="catalog" class="section-title section-title-menu">Гойдалки</h2>
  <button
    type="button"
    class="close-swing mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-garden/garden-swing/garden-swing-01.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-garden/garden-swing/garden-swing-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-garden/garden-swing/garden-swing-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-garden/garden-swing/garden-swing-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-garden/garden-swing/garden-swing-05.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
    <!-- <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li> -->
    <!-- <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li>
        <li>
          <img
            class="catalog-img"
            src=""
            alt="loft-furniture"
            width="300"
            height="350"
          />
        </li> -->
  </ul>
</div>
