<header class="header">
  <div class="container">
    <div class="logo-wrapp">
      <a class="logo" href="./index.html"
        ><span class="accent-logo">Metal</span
        ><span class="logo-hd">loft</span></a
      >
      <button class="btn">Залишити заявку</button>
    </div>

    <nav class="navigation">
      <ul class="navigation-list list">
        <li class="navigation-item">
          <a class="links current active" href="./index.html">Головна</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="">Каталог</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="">Переваги</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="">Про нас</a>
          <li class="navigation-item">
            <a class="links" href="">Контакти</a>
          </li>
        </li>
      </ul>
    </nav>
  </div>
</header>
