<div class="stellage-menu">
  <h2 id="catalog" class="section-title section-title-menu">Стеллажі</h2>
  <button
    type="button"
    class="close-stellage mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-01.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-05.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-06.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-07.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-08.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-09.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-10.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-10.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-stellage/stellage-11.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src=""
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
  </ul>
</div>
