<div class="catalog-menu">
  <h2 id="catalog" class="section-title section-title-menu">Столи</h2>
  <button
    type="button"
    class="close-table mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list table-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-01.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-05.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-06.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-07.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-08.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-09.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-10.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-11.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-12.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-13.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-14.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-15.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-16.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-17.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-18.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-19.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-21.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-22.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-23.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-24.png"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-25.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-26.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-27.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-28.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-29.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-30.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-table/loft-table-30.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li> -->
  </ul>
</div>
