<div class="interier-menu">
  <h2 id="catalog" class="section-title">Інтер'єр</h2>
  <button
    type="button"
    class="close-inter mobile-menu-btn-close modal-close-btn"
  >
    <svg class="modal-close-btn-icon" width="30" height="30">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="catalog-menu-list">
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-01.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-02.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-03.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-04.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-05.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-06.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-07.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <li>
      <img
        class="catalog-img"
        src="./images/img-home/loft-interier/loft-home-09.jpg"
        alt="loft-furniture"
        width="300"
        height="350"
      />
    </li>
    <!-- <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li>
      <li>
        <img
          class="catalog-img"
          src=""
          alt="loft-furniture"
          width="300"
          height="350"
        />
      </li> -->
  </ul>
</div>
