<section class="section policy">
  Ваша конфіденційність важлива для нас. У цьому розділі описано, як ми
  збираємо, використовуємо, обробляємо та захищаємо ваші особисті дані. Ця
  Політика конфіденційності стосується використання нашого веб-сайту, програм і
  послуг, тому, будь ласка, знайдіть час, щоб прочитати її. Які особисті дані ми
  збираємо: Ми можемо збирати різні типи персональних даних, які ви добровільно
  надаєте під час взаємодії з нашим веб-сайтом, реєстрації облікового запису або
  заповнення форм. Це може включати ваше ім’я, електронну адресу, номер телефону
  тощо. Як ми використовуємо ваші особисті дані: Ми використовуємо зібрані
  персональні дані, щоб надавати послуги, керувати вашим обліковим записом,
  надавати вам інформацію про наші продукти та послуги, а також спілкуватися з
  вами щодо запитів і оновлень. Захист персональних даних: Ми докладаємо всіх
  зусиль для захисту вашої інформації та використовуємо сучасні технології для
  запобігання несанкціонованому доступу, втраті або розголошенню вашої особистої
  інформації. Розкриття інформації третім сторонам: Ми не розголошуємо ваші
  особисті дані третім сторонам без вашої згоди, за винятком випадків, коли це
  вимагається законом або для надання послуг, які ви запитували. Зміни до
  Політики конфіденційності: Ми можемо періодично оновлювати цю Політику
  конфіденційності. Переглядайте цю сторінку, щоб бути в курсі будь-яких змін.
  Зв'яжіться з нами: Якщо у вас виникли запитання чи сумніви щодо цієї Політики
  конфіденційності або вашої інформації, будь ласка, зв’яжіться з нами,
  використовуючи контактну інформацію, надану на нашому веб-сайті.
</section>
